body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
}
header {
    background-color: rgba(0, 0, 0, 0);
    height: 80px;
    width: 100%;
}
#navigation {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-left: 150px;
  }
.Logo {
    position:absolute;
    left: 1100px; 
    top: 40px; 
    width: 40px;
    height: 40px;
}
.BioHeroImg {
    width: 1024px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.Bio {
    width: 600px;
    height: 300px;
    position: absolute;
    color: rgb(0, 0, 0);

}
p{
    color: rgb(255, 255, 255);
    margin-left: 20px;
}
.Img{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 650px; 
    top: 50px;
    z-index: 1;    
}
.profilePic {
    width: 300px;
    height: 400px; 
    margin-top: 30%;
    border-radius: 20px; 
    
}
.Bio h1{
    width: 700px;
    height: 250px;
    background-color: #ffebee;
    font-size: 5em;
    border-radius: 20px;
    line-height: 1em;
    padding: 40px 0 0 20px;
    box-sizing: border-box;
}
.DesignDescription{
    width: 1024px;
    height: 250px;
    background-color: #ffffff10;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.design{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-left: 20px;
    padding-top: 30px;
}
#description{
    position:absolute;
    left: 800px; 
    top: 20px;
    text-align:end;
    line-height: 1em;
}
.SoftwareLogos{
    width: 1024px;
    height: 250px;
    background-color: #ffffff10;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.Software{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-left: 20px;
    padding-top: 30px;
}
/*.softLogo img {
    display:flex;
    justify-content:flex-end;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}
.Illustrator{
    height: fit-content; 
    width: 100px;
    height: 75px;
}
.Figma{
    position: relative;
    width: 60px;
    height: 60px;  
}
.Invision{
    position:relative;
    width: 70px;
    height: 75px
}
.Miro{
    position: relative;
    width: 70px;
    height: 75px;  
} */
.ResearchDescript{
    width: 1024px;
    height: 250px;
    background-color: #ffffff10;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.research{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-left: 20px;
    padding-top: 30px;
}
#descript{
    position:absolute;
    left: 800px; 
    top: 20px;
    text-align:end;
    line-height: 1em;
}
.ComDescriptions{
    width: 1024px;
    height: 250px;
    background-color: #ffffff10;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.Com{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-left: 20px;
    padding-top: 30px;
}
#descriptions{
    position:absolute;
    left: 830px; 
    top: 20px;
    text-align:end;
    line-height: 1em;
}


.titleImgPButton{
    width: 1024px;
    height: 1100px;
    background-color: #FFEBEE;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}    
.title{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 4em;
    margin-left: 20px;
    padding-top: 2px;
}

.Cap1{
    display: inline-block;
    justify-content: space-between;
    height: 400px;
    width: 200px;
    margin: 35px;
    margin-top: 300px;
    margin-left: 80px; 
}
.Para{
    display: inline-block;
    justify-content:flex-end;
    height: 5px;
    width: 200px;
    margin: 35px;
    margin-top: 5px;
    margin-left: 80px; 
}
button {
    background-color:white;
    border-color: white;
    border-radius: 60px;

}
.Para p {
    color: black;
}



.titleImgPButton2{
    width: 1024px;
    height: 1100px;
    background-color: #FFEBEE;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}    
.title2{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 4em;
    margin-left: 20px;
    padding-top: 2px;
}

.Capt{
    display: inline-block;
    justify-content: space-between;
    height: 400px;
    width: 200px;
    margin: 35px;
    margin-top: 300px;
    margin-left: 80px; 
}
.Parag{
    display: inline-block;
    justify-content:flex-end;
    height: 5px;
    width: 200px;
    margin: 35px;
    margin-top: 5px;
    margin-left: 80px; 
}
button {
    background-color:white;
    border-color: white;
    border-radius: 60px;

}
.Parag p {
    color: black;
}


.reachout{
    width: 1024px;
    height: 250px;
    background-color: #ffffff10;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.reach{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-left: 20px;
    padding-top: px;
}
#info{
    position:absolute;
    left: 400px;
    top: 110px;
    text-align:center;
    line-height: 1em;
}



.footer{
    width: 1024px;
    height: 250px;
    background-color: #ffebee;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.Discover{
    display: inline-block;
    justify-content:flex-end;
    height: 5px;
    width: 200px;
    margin: 35px;
    margin-top: 5px;
    margin-left: 80px; 
}
.Discover p{
    color: black;
}
